{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <p class="home-message">Welcome to this project, you have the opportunity to find your favorite books.</p>

    <form id="search">
        <div class="input-group mb-3">
            <input type="text" class="form-control"  name="s" placeholder="Book title or isbn" aria-label="Book title or isbn" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <ul class="book-list">
        {% for book in books %}
            <li class="card mb-2">
                <div>
                    <a href="{{ path('book_show_front', {id: book.id, slug: book.slug}) }}">{{ book.title }} ({{ book.isbn }})</a>
                </div>
                <div>
                    <span>{{ book.price }}$</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
