{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Category{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Category{% endtrans %}</h1>

    {{ include('backoffice/category/_form.html.twig') }}

    <a href="{{ path('category_index') }}" class="btn btn-secondary mt-2">{% trans %}back to list{% endtrans %}</a>

    {{ include('backoffice/category/_delete_form.html.twig') }}
{% endblock %}
