<footer class="footer">
    <div class="jumbotron">
        <div class="container d-flex justify-content-between">
            <em>Copyright</em>
            <ul class="d-flex">
                <li><span class="material-icons">facebook</span></li>
            </ul>
        </div>
    </div>
</footer>