{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Book{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Book{% endtrans %}</h1>

    {{ include('backoffice/book/_form.html.twig') }}

    <a href="{{ path('book_index') }}" class="btn btn-secondary mt-2 mb-4">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
