{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Author{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Author{% endtrans %}</h1>

    {{ include('backoffice/author/_form.html.twig') }}

    <a href="{{ path('author_index') }}" class="btn btn-secondary mt-2">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
